.dashboardContainer {
  display: flex;
  height: 100vh;
}
.sideBar {
  height: 1000px;
  width: 20%;
  border-right: 2px solid #e5e5e5;
}

.contentSide {
  position: sticky;
  background-color: #ffffff;
  top: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 2px solid #e5e5e5;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  height: auto;
  width: 90%;
  margin-top: 2rem;
}
